html body {
    background-color: #0e0e10;
}

button {
    background-color: transparent;
    border: transparent;
    outline: none;
}

button:active, button:focus {
    outline: none;
}

h3{
    color: #efeff1;
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0px;
    line-height: 1.2!important;
}

input, textarea {
    outline: none;
    border: none;
}

input:active, textarea:active {
    outline: none;
}

:focus {
    outline: none;
}

textarea {
    resize: none;
}

textarea {
    resize: vertical;
}

textarea {
    resize: horizontal;
}

/* Анимация */

@keyframes texttransform {
    0% {
        color: #efeff100;
    }
    29% {
        color: #efeff11e;
    }
    30% {}
    40% {
        color: #efeff14b;
    }
    59% {
        color: #efeff167;
    }
    60% {
        color: #efeff185;
    }
    100% {
        color: #efeff1;
    }
}

/* Блок с регистрацией */

.registration {
    height: 370px;
    width: 451px;
    text-align: center;
    background-color: #18181b;
    border-radius: 5px;
    padding: 5px;
    position: fixed;
    top: 50%;
    margin-top: -210px;
    left: 50%;
    margin-left: -190px;
    transition: all 0.2s ease;
    display: none;
    z-index: 990;
    transition: all 0.1s ease;
}

.close{
    height: 37px;
    position: fixed;
    z-index: 991;
    top: 28vh;
    right: 72vh;
    padding-bottom: 2px;
    display: none;
}

.close:hover{
    border-radius: 6px;
}

/* .email-password {
    margin-top: 20px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
} */

.vhodi{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

}

.text{
    width: 380px;
    height: 40px;
    margin-bottom: 10px;
}

.white{
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    position: relative;
    left: 60px;
}

.vhod-word{
    color: #efeff1;
    margin-bottom: 0px;
}

.registr-word{
    color: #efeff1;
}

.navigation{
    width: 380px;
    height: 29px;
    display: flex;
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid hsla(0,0%,100%,.1)!important;
}

.place-login{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.text-registration{
    color: #efeff1;
    font-weight: 500;
    font-size: 17px;
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
}

.text-login{
    color: #efeff1;
    font-weight: 500;
    font-size: 17px;
    display: flex;
    justify-content: left;
}

.email-password{
    height: 38px;
    margin-bottom: 15px;
    background-color: #464648;
    border-radius: 5px;
    color:#efeff1;
    font-weight: 400;
    font-size: 18px;
}

.email-password:focus{
    border: 2px solid #5c16c5;
    height: 38px;
}

.login{
    width: 100%;
    height: 38px;
    margin-top: 15px;
    background-color: #9147ff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login:hover{
    background-color: #772ce8;
    border-radius: 5px;
}

.vhojy{
    border-radius: 0px;
    margin-right: 20px;
}

.vhojy-word{
    color: #efeff1;
    margin-bottom: 0px;
}

.vhojy:hover{
    background-color: transparent;
    border-radius: 0px;
}

.vhojy-purple{
    border-bottom: 2px solid #a970ff;
}

.vhod-word-purple{
    color: #a970ff;
}

.registr{
    border-radius: 0px;
}

.registr:hover{
    background-color: transparent;
    border-radius: 0px;
}

.dark-background{
    background-color: rgba(0, 0, 0, 0.829);
    height: 100%;
    width: 100%;
    z-index: 990;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}


/* Регистрация */

.place-registration{
    display: none;
    flex-direction: column;
    justify-content: left;
}

.day{
    height: 38px;
    width: 100px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: #464648;
    border-radius: 5px;
    color:#efeff1;
    font-weight: 400;
    font-size: 18px;
}

.day:focus{
    border: 2px solid #5c16c5;
    height: 38px;
}

.registr-purple{
    border-bottom: 2px solid #a970ff;
}

.registr-word-purple{
    color: #a970ff;
}

/* Выбор настройки или аналитика */

.setting-analytic {
    display: none;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    position: absolute;
    z-index: 999;
    top: 63px;
    right: 10px;
    border-radius: 5px;
    background-color: #1d1d20;
    -webkit-box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 22px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.setting-link {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row; */
    border-bottom: 1px solid #696969;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.text-change {
    color: #efeff1;
    margin-left: 10px;
}

.www{
    display: flex;
    flex-flow: row;
    width: 141px;
}

.www:hover{
 text-decoration: none;
}

/* Шапка */

.header {
    width: 100%;
    height: 65px;
    background-color: #18181b;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #272728;
    z-index: 980;
    position: fixed;
    top: 0px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    margin-top: 3px;
    float: left;
}

.dark_white {
    width: 41px;
    height: 41px;
    padding: 0px;
    border: 0px;
    background-color: transparent;
    margin-left: 20px;
}

.dark_white:hover {
    background-color: #3e3e40;
    border-radius: 20px;
}

.darkicon {
    width: 40px;
    height: 40px;
}

.cybersport {
    height: 45px;
    width: 200px;
    position: relative;
    right: -80px;
    text-align: center;
}

.text_cybersport {
    margin: 10px;
    width: 120px;
    height: 20px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 19px;
    color: #efeff1;
}

.text_cybersport:hover {
    color: #772ce8;
    font-weight: 600;
}

.exit {
    float: right;
    width: 70px;
    height: 40px;
    background-color: #3a3a3d;
    border-radius: 5px;
    margin-right: 20px;
    padding-top: 8px;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

.exit:hover{
    border-radius: 20px;
}

.Vhod {
    color: #efeff1;
    font-weight: 500;
    font-size: 18px;
    height: 20px;
}

.profile {
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 88px;
    display: block;
}

.profile-img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
}

.norm-img{
    width: 45px;
    height: 45px;
    border-radius: 45px;
    display: none;
}

/* Логотип */

.logoBlue {
    width: 35px;
}

.logoWhite {
    width: 35px;
    position: relative;
    bottom: 35px;
    transition: all 0.2s linear 0s;
    float: left;
}

.logoWhite:hover {
    position: relative;
    left: 1px;
    bottom: 38px;
}

/* Подписки*/

.subscribe {
    width: 60px;
    height: 93vh;
    position: fixed;
    background-color: #1f1f23;
    transition: all 0.5s ease;
    z-index: 970;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.subscribe:hover {
    width: 300px;
}

.subscribe:hover .avatar_last{
    border: none;
}

.sub-img{
    display: block;
}

.sub {
    color: #efeff1;
    font-size: 19px;
    font-weight: 500;
    display: none;
}

.subscribe:hover .sub {
    animation: texttransform 0.5s 0.25s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    display: block;
}

.subscribe:hover .sub-img{
    display: none;
}

.avatar1 {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 11px;
    display: block;
    transition: all 0.5s ease;
}

.avatar {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 11px;
    display: block;
    transition: all 0.5s ease;
}

.avatar_last {
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 11px;
    display: block;
    transition: all 0.5s ease;
    border-bottom: 2px solid #272728;
}

.avatar1:hover {
    background-color: #26262c;
}

.avatar:hover {
    background-color: #26262c;
}

.avatar_last:hover {
    background-color: #26262c;
}

.name_stream {
    color: #efeff1;
    font-size: 18px;
    font-weight: 700;
    display: none;
    vertical-align: top;
}

.what_play {
    color: #adadb8;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    left: 55px;
    bottom: 23px;
    display: none;
}

.subscribe:hover .what_play {
    animation: texttransform 0.6s 0.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    display: inline;
}

.subscribe:hover .name_stream {
    animation: texttransform 0.6s 0.2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    display: inline;
}

.img_avatar {
    height: 38px;
    width: 38px;
    margin-right: 10px;
    display: inline;
    border-radius: 20px;
    margin-top: 6px;
}
/* Main */

.main{
    margin-top: 65px;
    margin-left: 60px;
    display: flex;
    flex-flow: column;
}

.stream{
    width: 100%;
    height: 739px;
    border-bottom: 1px solid #272728;
}

.arrow-open{
    height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.arrow-open:hover{
    background-color: #3e3e40;
    border-radius: 10px;
}

.chat-arrow{
    width: 20px;
}

.expand{
    position: absolute;
    right: 55px;
    top: 135px;
    color: #efeff1;
    font-weight: 500;
    display: none;
    background-color: black;
    border-radius: 5px;
    z-index: 10;
}

.arrow-open:hover .expand{
    display: block;
}

/* Под стримом */

.info-stream{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.profile-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 2px rgba(119, 44, 232, 1);
    transition: all 0.2s linear;
}

.profile-avatar:hover{
    box-shadow: 0px 0px 0px 4px rgba(119, 44, 232, 1);
}

.avatar-img{
    border-radius: 100%;
}

.name-stream{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.name{
    display: flex;
    justify-content: left;
    flex-flow: column;
}

.name-text{
    text-align: left;
    margin-top: 2px;
    color: #efeff1;
    font-weight: 500;
    font-size: 2vh;
}

.game{
    color: #a16bf4;
}

.game:hover{
    color: #a16bf4;
}

.tracking{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 25%;
    position: relative;
}

.heart{
    width: 25px;
}

.follow{
    height: 40px;
    width: 45px;
    background-color: #3a3a3d;
    border-radius: 5px;
    margin-right: 10px;
}

.follow:hover{
    background-color: #47474b;
}

.star{
    width: 25px;
    margin-right: 10px;
}

.buy-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    height: 40px;
    background-color: #9147ff;
    border-radius: 5px;
}

.buy-sub:hover{
    background-color: #9a57ff;
}

.flex{
    display: flex;
    justify-content: center;
    width: 100%;
}

.info-chanel{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    background-color: #18181b;
    padding: 3rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    width: 1000px;
}

.text-chanel{
    display: flex;
    justify-content: left;
    flex-flow: column;
    width: 570px;
}

.big-avatar{
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

.number{
    text-align: center;
    color: #efeff1;
    margin-top: 5px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.social-link:hover{
    text-decoration: none;
}

.social-text{
    color: #efeff1;
    margin-top: 10px;
}

.social-text:hover{
    color: #a970ff;
}

/* Реклама и т.п */

.custom{
    display: flex;
    justify-content: space-around;
    flex-flow: row;
}

.add-left{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: flex-start;
}

.add-right{
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
}

.add{
    margin-bottom: 20px;
}

/* Чат* */

.chat{
    position: fixed;
    width: 45vh;
    height: 100vh;
    top: 65px;
    right: 0px;
    z-index: 9;
    display: none;
    background-color: #18181b;
}

/* Шапка чата */

.header-chat{
    padding: 10px;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #272728;
}

.arrow-close{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-close:hover{
    background-color: #3e3e40;
    border-radius: 10px;
}

.arrow-close:hover .expand{
    color: #772ce8;
}

.chat-text{
    height: 20px;
    color: #efeff1;
    font-size: 18px;
    font-weight: 500;
}

.chat-users{
    height: 32px;
    width: 32px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chat-users:hover{
    box-shadow: rgb(62 62 64) 0px 0px 9px 3px;
}

/* Главная чата */

.main-chat{
    height: 75vh;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #272728;
}

/* Низ чата */

.footer-chat{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}

.enter-text{
    width: 100%;
    height: 50px;
    background-color: #464649;
    border-radius: 5px;
    padding-left: 10px;
    color: #efeff1;
    font-size: 18px;
    font-weight: 500;
}

.enter-text:focus{
    background-color: #000;
    border: 2px solid #a970ff;
}

.point-setting{
    margin-top: 10px;
}